# Data types

* Python is a **strongly typed** language, you cannot add incompatible types (e.g. number + string without conversion).
* Python is also **dynamically typed**. The type of a variable is determined by the value when it is first assigned, type checking is done at runtime, and explicit overrides can be used.

```
    x = "123"
    y = int(x) 
```

* Everything is an object - even numbers, functions, types are objects of a certain class.

The basic built-in types are as follows:
* Numeric types:
   * int - integers, not limited to a fixed number of bits, can work with very large numbers: x = 451654872154787894564156475645564654
   * float - decimal numbers, supports special values: inf, -inf, NaN (Not a Number)
   * complex - complex numbers, e.g. 2 + 3i
* Strings:
   * str - strings are stored in unicode. Be careful if you work with texts with national characters, sometimes they may not have the correct code page.
   * bytes - binary data, e.g. b'\x68\x65\x6c\x6c\x6f' (represents the text "hello")
* Logical values:
   * bool - values True and False
   * None - empty value, in other languages maybe null
* Sequences and collections:
   * list
   * tuple (immutable)
   * set
   * dict – dictionary (key-value)

Here are some examples of entering values.

In [ ]:
int1 = 1
int2 = int1 + 1
int3 = 1_000_000
float1 = 1.0
float2 = float1 + 1
string1='0'

Because the type of a variable is determined dynamically when it is first assigned, it can sometimes be useful to find out what type the variable actually is. The **type** statement is used for this purpose.

In [ ]:
print (type(int1))
print (type(int2))
print (type(float1))
print (type(float2))
print (type(string1))

You can also use the **isinstance** function to test if the variable is of a certain type.

In [ ]:
print (isinstance(int2, int))
print (isinstance(float1, str))

The type of the variable is determined according to the specified value according to the rules. Sometimes, to avoid errors in the program, it may be appropriate to define the data type explicitly.

Or it may want to override the input value.

In [ ]:
int3 = int (1.0)
float3 = float(1)
string2 = str (int3)
print (type(int3))
print (type(float2))
print (type(string2))

**For immutable data types, a copy of the data is made on assignment.**
* bool
* int
* float
* complex
* str
* bytes
* tupple
* None

In [ ]:
x = 1
y = x
x = 2
print ("x:", x)
print ("y:", y)

## Integers
Very often we will be working with integers, so let's introduce the basic operations.

When converting to integer, Python truncates, not rounds.

In [ ]:
print (int(3.9))
print (int(-2.9))

If we want to round, we have to use the round function. The round() function uses banker's rounding - to the nearest even number.

In [ ]:
print (round(6.5))        # 6
print (round(7.5))        # 8
print (round(3.14, 1))    # 3.1 (to 1 decimal place)
print (round(2737, -2))   # 2700 (in hundreds)

The standard operators +, -, *, / are used to work with integers and then the following

* // – integer division, for positive numbers it "truncates" the decimal part, for negative numbers it returns a lower value (e.g. -7 // 2 == -4), if the member is of float type, the result is also float
* ** – squared
* % – modulo (remainder after division)

In [ ]:
print(7 // 2)   # 3
print(-7 // 2)  # -4
print(2 ** 3)   # 8
print(7 % 3)    # 1

Sometimes you will want to convert between number systems.

In [ ]:
print(int("FF", base=16))     # 255
print(int("0b10010", base=2)) # 18

print(bin(99))   # '0b1100011'
print(hex(99))   # '0x63'
print(oct(99))   # '0o143'

## Strings

* Python uses Unicode (UTF-8) for text.
* One character can be stored in 1-3 bytes (sometimes even 4).
* The program source file (program.py) must be saved in UTF-8.
* Strings can be written using quotation marks:
   * double "..."
   * or simple '...'

The string can be split into variables.

In [ ]:
s = 'cool'
a, b, c, d = 'cool'   # splits individual characters into variables
print (d)

Basic string operations include finding the length of a string, accessing the nth character, concatenating strings, repeating characters.

In [ ]:
string_length = len(s) 
first_char = s[0]           
string_joing = 'abc' + 'def'     
multiple_a = 'a' * 4             
print (string_length)
print (first_char)
print (string_joing)
print (multiple_a)

Sometimes you will want the string to contain multiple lines. The special character **\n** is used to separate them.

In [ ]:
multiline='first\nsecond\nthird\n'
print (multiline)

If you want to use a sequence of characters like \n, \t, ... in a string so that they don't intersperse, you can use the **repr** function. Or use the double \\\\

In [ ]:
print (repr("string\n"))
print ("string\\n")

### String formatting
When printing variables, you will want to influence their form.

The older way of formatting uses the .format() method, which takes a format string as the first input, followed by the output variables. 

* In the place where the variable is to be written out, the variable order is given in {}, numbered from 0. 
* If the order is clear, it can be omitted.
* Variables can also be named.

In [ ]:
a = [1, 2, 3]
b = 'xxx'
c = 1.222342

print("b {0} a {1[0]}".format(b, a))
print("b {} a[0] {}".format(b, a[0]))
print("b {b} a {a}".format(b=b, a=a[0]))

Alignment and string length can be specified for a nicer output.

In [ ]:
print ('{:<30}'.format('left aligned'))             
print ('{:>30}'.format('right aligned'))            
print ('{:^30}'.format('centered'))                 
print ('{:*^30}'.format('centered'))

When printing numbers, it is a good idea to define their format.
* Data type (**f**loat, **d**ecimal)
* Number of numbers before and after the decimal point
* Separator of thousands

In [ ]:
print ('{0:.1f}'.format(c))                          
print ('{0:03d}'.format(10))
print ('{0:,}'.format(123456789))

For clearer formatting, a newer, clearer method is used: **f-string**. Before the string is f and inside the string we can use variables, but also functions, methods, etc.


* f'...' - inside we can directly use variables {b}, {c}
* str.format() - suitable for more complex formatting or reuse

In [ ]:
print (f'Value of b is {b}, value of c is {c}')

In [ ]:
text = 'Python'
print(f'{text:>10}')  # right: '    Python'
print(f'{text:^10}')  # in the middle: '  Python  '
print(f'{text:*^10}') # centre with stars: '**Python**'

In [ ]:
x = 42
print(f'{x:05d}')   # padded with zeros: 00042
print(f'{x:,}')     # separation of thousands by a comma: 42

In [ ]:
y = 12345.6789
print(f'{y:.2e}')   # 1.23e+04

In [ ]:
a = 5
b = 3
print(f'{a} + {b} = {a+b}')  # 5 + 3 = 8

When printing multiple variables, you can change the separator instead of the space. This can be useful, for example, when creating text files.

In [ ]:
print ("A", "B", "C", sep="|")

It is also possible to redefine the character to be written at the end.

In [ ]:
print ("A", end=",")              # is printed at the end of the command,
print ("B")                       # at the end of the command \n is printed by default, new line

### Methods for string manipulation
The str class has many methods for working with strings.

It is often necessary to split a string into substrings according to some separator. The splitlines method returns a list of strings.

In [ ]:
s = ''' line1
line2
line3'''
print (s.splitlines())

In [ ]:
# splitting and joining string
query='password=Secret&login=user00'
params_list=query.split('&')   
string5=" ".join(params_list)
print (string5)

Working with upper and lower case is important.

In [ ]:
string = "Hello world"
print (string.lower())                 
print (string.upper())
print (string.isupper())

Sometimes specific characters need to be counted.

In [ ]:
print (string.lower().count('l'))

Ověření, zda v řetězci je nějaký substring.

In [ ]:
print ("he" in string)                 # returns True, False, is faster than find
print (string.index('w'))              # position of the first occurrence, otherwise returns an exception
print (string.find('substr'))          # position of first occurrence
print (string.find('wo'))              # position of first occurrence

Sometimes you need to replace or delete something.

In [ ]:
print (string.replace('world','universe', 3)) # string replacement, how many times is optional
print (string.strip())                        # remove space(characters) at the beginning and end of the string

Check if the string can be converted to a number.

In [ ]:
number="5684"
print (number.isdecimal())
print (string.isdecimal())

Each character in the string has its own position. It starts numbering from the left of 0. It is numbered from the right with negative numbers.
* 0 - the first character
* 1 - second character
* -1 - the last character
* -2 - penultimate character

It is possible to print parts of strings determined by the start and end position. If a position is not specified, the start or end position is added.

In [ ]:
# substrings
a_string='abcdefghijklmnopqrstuvwxyz'
print (a_string[3:11])
print (a_string[3:-3])
print (a_string[0:2])
print (a_string[:18])
print (a_string[20:])

# Mutable data types
Unlike immutable types (int, str, tuple ...), mutable data types can be modified after creation.

* list - an ordered collection of elements that can be of different types. Elements can be added, removed or changed.
- set - a disordered collection of unique elements. Suitable for working with set operations (union, intersection).
- dict - dictionary, key : value pair collection. Keys must be immutable (e.g. numbers, strings, tuples). Values may also be mutable.

**For mutable data types, no copy of the data is made when assigning a value as for non-mutable types.** A pointer to the data structure is passed.

In [ ]:
a=[1,2,3]
b=a        # creating a copy of the reference, pointer
b[2]=4     # and[2] will also be 4

print (a)
print (b)

## List
* A list of arbitrary variables, but it is advisable to use the same data type or for the values to have the same meaning.
* Elements can be changed, added and removed over time.

**For classic multidimensional arrays we will use the numpy library.** Numpy will be discussed later.

### Create a list

In [ ]:
value = 6
a_list = ['c', 'd', 1, True]

### Access to elements
* Indexed from 0
* Indexing by negative numbers starts from the back

In [ ]:
print (a_list[0])     # the first element
print (a_list[-1])    # the last element
print (a_list[0:3])   # the first 3 elements
print (a_list[0:6:2]) # every second element from index 0 to 5
print (a_list[:])     # copy of the list
print (a_list[::-1])  # reverse list

a_list[2:4]='ab'      # assigning a value to a list slice
print (a_list)

### Adding elements

In [ ]:
a_list.append(8)           # adds one element at the end
a_list.append([3,4])       # adds the list as one element
a_list.extend([3,4])       # adds all elements of the list
a_list.insert(0, 6)        # inserts the element at index 0

print (a_list)

### Joining Lists

In [ ]:
a_list = a_list + [1, 2.0]
print (a_list)

### Removal of elements

In [ ]:
del a_list[1]           # according to the index
print (a_list)
a_list.remove(6)        # by value (first occurrence)
print (a_list)
print (a_list.pop())    # removes and returns the last element
print (a_list.pop(1))   # removes the element at index 1 and returns it
print (a_list)

### List information

In [ ]:
print (len(a_list))             # list length
print (a_list.count(1))         # number of occurrences values
print (6 in a_list)             # True/False
print (a_list.index('d'))       # element index, if not, raises an exception

### Other operations

In [ ]:
num_list = [56, 8, 0, -5]
num_list.sort()                     # list ordering (elements must be of the same type)
print (f'Sorted list {num_list}')

head, *middle, tail = [1,2,3,4,5]   # list distribution
print (f'Head {head}')
print (f'Middle {middle}')
print (f'Tail {tail}')

### Cycle through the list

In [ ]:
for value in a_list:
    print (value)

In [ ]:
# Passing through the list with counter
for index, value in enumerate(a_list):
    print (f'index:{index}, value:{value}')

### List comparison
The comparison depends on the order. If the comparison is not supposed to be order-irrelevant, we have to sort the list before the comparison.

In [ ]:
l1 = [10, 20, 30, 40, 50]
l2 = [20, 30, 50, 40, 70]
l3 = [50, 10, 30, 20, 40]

if l1 == l2:
    print ("The lists l1 and l2 are the same")
else:
    print ("The lists l1 and l2 are not the same")

if l1 == l3:
    print ("The lists l1 and l3 are the same")
else:
    print ("The lists l1 and l3 are not the same")

In [ ]:
l1 = [10, 20, 30, 40, 50]
l2 = [20, 30, 50, 40, 70]
l3 = [50, 10, 30, 20, 40]

l1_sorted = sorted(l1)
l2_sorted = sorted(l2)
l3_sorted = sorted(l3)

if l1_sorted == l2_sorted:
    print ("The lists l1 and l2 are the same")
else:
    print ("The lists l1 and l2 are not the same")

if l1_sorted == l3_sorted:
    print ("The lists l1 and l3 are the same")
else:
    print ("The lists l1 and l3 are not the same")

### Copy of the list
Since a list is a mutable data type, assigning it to a new variable does not create a copy of it, but only makes a new pointer.

In [ ]:
a=[1,2,3]
b=a        
b[2]=4     

print (a)
print (b)

In [ ]:
a=[1, 2]
b=[a, a, a]   # b contains 3 pointers to a, if I change a, the change is reflected 3 times in b.
print (b)

Sometimes it may be useful to make a copy of the data structure. The first copy option can be a bit strange.

In [ ]:
c=a[:]
c[0]=0
print (a)
print (c)

To create a copy of the list we can use the **copy** function.

In [ ]:
a=[1, 2]
b=a.copy()  
b[0]=3
print (a)
print (b)

Note that copy makes a copy only to the first level of the list.

In [ ]:
a=[[1,2], 3]
b=a.copy()   
b[0][0]=5
print (a)
print (b)

If the structure is more complex we have to use **deepcopy**.

In [ ]:
import copy
a=[[1,2], 3]
b=copy.deepcopy(a)  
b[0][0]=5
print (a)
print (b)

## Tuple

* Similar to lists, but immutable - content cannot be changed after creation.
* They are faster than lists, suitable for data that should not be changed.

### Creating

In [ ]:
t1 = (1, 2, 3)
t2 = ('a', 'b', 'c')
t3 = ()          # empty tuple
t4 = (1,)        # tuple with one element, watch out for the comma

### Logical
* Empty tuple is False
* A tuple with at least one element is True

In [ ]:
print (bool(()))
print (bool((1,)))

### Access to elements

In [ ]:
t1[0]       # the first element
t1[-1]      # the last element
t1[0:2]     # slice of the first two elements
(x,y,z)=t1  # assigning tuple elements to variables, this can be used for functions that return multiple values
print (z)

### Joining

In [ ]:
t1 + t2

### Repetition of elements

In [ ]:
t2 * 3

### Conversion of tuple and list

In [ ]:
a_list= list (t1)                 # creating a list from a tuple          
a_tuple= tuple (a_list)           # creating a tuple from the list

### Testing

In [ ]:
print (1 in t1)                      # test if the tuple contains the value
print (t1==t2)                       # tests whether the elements of the tuple are successively equal
print (t1 < t4)                      # the validity of the element-by-element comparison is gradually tested

### Search

In [ ]:
print (a_tuple.count(2))                       # how many times the value occurs in the tuple
print (a_tuple.index(3))                       # index where the value is located. If there are multiple occurrences, the first occurrence is returned
print (len(a_tuple))                           # length of the tuple
print (sum(a_tuple))                           # sum of values
print (min(a_tuple))
print (max(a_tuple))

### Change of value
Beware tupple is an immutable type. This will result in an error.

In [ ]:
x = (1, 2)
x[0] = 3

## Set

* A disordered collection of unique values - each element can occur only once.
* Suitable for operations such as intersection, union, difference.

### Creating

In [ ]:
s = {1, 2, 3, 4}
s2 = set([3, 4, 5, 6])   # conversion from the list
empty_set = set() 
print (s) 
print (s2)

### Adding and removing elements

In [ ]:
s.add(5)                # adds an element
s.update ({3, 4, 5})    # adding multiple values to a set, can be specified as a set or as a list
s.update ([3, 4, 5])    # adding multiple values to a set, can be specified as a set or as a list, it doesn't matter
s.remove(2)             # removes the item if it does not exist -> raises an error
s.discard(10)           # removes the element if it exists, otherwise nothing
s.pop()                 # takes one value at random and returns it
print (s)

### Operations with sets

In [ ]:
print (f"Union {s.union(s2)}")                                  
print (f"Intersecion {s.intersection(s2)}")                     
print (f"Difference {s.difference(s2)}")                        # difference (elements in s that are not in s2)
print (f"Symetric difference {s.symmetric_difference(s2)}")     # elements that are in one or the other set, but not in both
print (f"subset {s.issubset(s2)}")
print (f"upperset {s.issuperset(s2)}")
print (f"Lengh of s {len(s)}")

### Coping set
As with a list, copying a set cannot be done by assignment, but by **copy**.

In [ ]:
s3 = s 
s.add(10)
print (s)
print (s3)

In [ ]:
s4 = s.copy()
s.add(11)
print (s)
print (s4)

### Compare
No matter the order.

In [ ]:
a = {1, 2}
b = {2, 1}
a==b

## Dictionary
* The dictionary is a collection of key : value pairs
* Keys must be unique and immutable (e.g. numbers, strings, tuples).
* Values can be of any type, including lists and other dictionaries.

### Creating

In [ ]:
a_dict = {'key1':'value', 'key2':'value'}
a_dict['key3'] = "value2"
c_dict = dict([("key99", "value99")])
print (a_dict)

### Access and check

In [ ]:
key = 'key2'
value = 'value'

if key in a_dict.keys():       # key existence check
    print(key, a_dict[key])

### Coping dictionary

In [ ]:
b_dict= a_dict.copy()
a_dict["key1"]="VALUE"
print (a_dict)
print (b_dict)

### Basic operations

In [ ]:
print (len(a_dict))             # number of keys
print (a_dict.items())          # list of pairs key : value

### Iteration via dictionary

In [ ]:
for key in sorted(a_dict.keys()):
    print(key)

In [ ]:
for value in a_dict.values():
    print(value)

In [ ]:
for key, value in a_dict.items():
    print(key, value)

### Conversion between dictionary and lists

In [ ]:
v = list(a_dict.values())  # list of values
k = list(a_dict.keys())    # list of keys
n = list(a_dict.items())   # list of tuples (key, value)
d=dict([("key","value"), ("key2","value2")] ) # list to dictionary conversion

# Binding objects and names
* An object can have one or more names (variables) that refer to it.
* The name does not indicate the memory location - it is just a reference to the object.
* Any object can be assigned to the variable and the type of the assigned object can be changed later.

In [ ]:
x=10
x='python'
print (x)

* There are no explicit type declarations in Python until version 3.5.
* Since Python 3.5, you can use type hints (optional) to help with additional checks and code readability.
* Type hints do not block the assignment of another type, they are just for checking (e.g. in the IDE or linter).

In [ ]:
def greetings(name: str) -> str:
    return f"Hello, {name}!"

# Deleting a variable
Deleting a variable removes the binding between the name and the object, not the object itself.

In [ ]:
x = 10
del x   # x no longer exists

If an object has no references (no names point to it), the garbage collector automatically removes it and frees memory.

Python manages memory automatically, so there is no need to explicitly free objects.

In [ ]:
y = [1, 2, 3]
z = y        # there are now two links to the list
del y        # the reference from the z variable remains, the object is not deleted
del z        # no links → garbage collector frees memory

# Exercise 1
Write a program that:
* It will ask the user for their name.
* Prints the number of characters in the name.
* Write out the first and last letters of the name.
* Writes the name in uppercase and lowercase letters.

In [ ]:
name = input("Enter your name: ")

# Exercise 2
* Create a list of numbers [1, 2, 3, 4, 5].
* Add number 6 to the end of the list.
* Remove number 3 from the list.
* Write the list backwards.
* Counts how many times the number 2 occurs in the list.

In [ ]:
#

# Exercise 3
* Create a dictionary with names and ages, e.g. {'John': 20, 'Eva': 22, 'Peter': 19}.
* Add new member 'Anna': 25.
* Remove member 'Peter'.
* List all keys, all values, and all key:value pairs.
* See if the key 'Eve' exists in the dictionary and print her age.

In [ ]:
#

# Exercise 4
Write a program that:
* Creates a set a = {1, 2, 3, 4} a b = {3, 4, 5, 6}.
* Calculate and write the union, intersection and difference of the sets a - b.
* Adds the number 7 to the set a.
* Removes the number 2 from the set a.